body{
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
}
h2{
    text-shadow: 1px 1px 10px black;
    font-size: 20pt;
}
h3{
    font-size: 20px;
}
p{
    color:#868383;
    font-size: 16px;
}
header{
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.07);
    height: 8vh;
}
.cabecalho{
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    padding: 0 1vw;
    
}
ul{
    display: flex;
    align-items: center;
    gap: 2vw;
    padding-right: 2vw ;
}
main{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1vh;
    margin-bottom: 5vh;
    padding: 0 1vw;
}
li > button{
    font-size: 20px;
    min-width: 10vw;
    max-width: 10vw;
    max-height: 5vh;
    min-height: 5vh;
    color: #FFFFFF ;
    background-color: #0A99FE;
    padding: 10px 12px;
    border-radius: 8px;
    height: 4vh;
    border: none;
    transition: 0.5s;
    cursor: pointer;
}
li > button:hover{
    background: rgba(10, 153, 254, 0.1);
    color: #0A99FE;
}
.paintings{
    display: flex;
    flex-direction: column;
    gap: 3vh;
}
.action_figures{
    display: flex;
    flex-direction: column;
    gap: 3vh;
}
.contato{
    color:  #FFFFFF ;
    background: #0A99FE;
}
.add__itens{
    
    position: absolute;
    display: flex;
    top: 1.5vh;
    left: 12vw;
}
.add__itens div{
    text-align: center;
    display: flex;
    gap: 1vw;
}
.add__itens div input{
    background: rgba(10, 153, 254, 0.1);
    border: none;
    text-align: center;
    border-radius: 10px;
    border-width: 0.5px;
    color: #0A99FE;
    min-width: 10vw;
    max-width: 10vw;
    max-height: 5vh;
    min-height: 5vh;
}
.add__itens div input::placeholder {
    color: #0A99FE;
  }
.add__itens div button{
    font-size: 20px;
    background-color: #0A99FE;
    border: none;
    color:  #FFFFFF ;
    border-radius: 10px;
    min-width: 10vw;
    max-width: 10vw;
    max-height: 5vh;
    min-height: 5vh;
    border-width: 0.5px;
}
.add__itens div button:hover{
    background: rgba(10, 153, 254, 0.1);
    color: #0A99FE;
    transition: 0.5s;
    cursor: pointer;
}
.add__itens select{
    background: rgba(10, 153, 254, 0.1);
    border: none;
    text-align: center;
    border-radius: 10px;
    border-width: 0.5px;
    color: #0A99FE;
    min-width: 10vw;
    max-width: 10vw;
    max-height: 5vh;
    min-height: 5vh;
}
.off{
    transition: 0.5s;
display: none;
}
#inputImagem{
    display: none;
    /* visibility: hidden; */
}
#uploadFoto{
    min-width: 3vw;
    max-width: 3vw;
    max-height: 5vh;
    min-height: 5vh;
    border-radius: 100px;
    box-shadow: 1px 1px 10px black;
    cursor: pointer; 
}
#labelImagem{
    /* border: solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 3vw;
    max-width: 3vw;
    max-height: 5vh;
    min-height: 5vh;
    
}
.catalogo__1{
    display: flex;
    align-items: center;
    height: 35vh;
    gap: 2vw;
    overflow-x: auto;
    overflow-y: hidden;
}
.retangulo{
    float: right;
    position: absolute;
    right: 1px;
    top: 1vh;
    background: linear-gradient(270deg, #FFFFFF 13.25%, rgba(255, 255, 255, 0) 91.57%);
    width: 5vw;
    height: 100vh;
}
/* .retangulo2{
    float: right;
    position: absolute;
    right: 1px;
    top: 91vh;
    background: linear-gradient(270deg, #FFFFFF 13.25%, rgba(255, 255, 255, 0) 91.57%);
    width: 5vw;
    height: 30vh;
} */
.catalogo__1::-webkit-scrollbar{
    background-color: #F8F8F8;
    height: 5px;
}
.catalogo__1::-webkit-scrollbar-track{
    background-color: #F8F8F8;
}
.catalogo__1::-webkit-scrollbar-thumb{
    background-color: #0A99FE;
}
.catalogo__2{
    display: flex;
    height: 35vh;
    gap: 2vw;
    overflow-x: auto;
    overflow-y: hidden;
}
.catalogo__2::-webkit-scrollbar{
    background-color: #F8F8F8;
    height: 5px;
}
.catalogo__2::-webkit-scrollbar-track{
    background-color: #F8F8F8;
}
.catalogo__2::-webkit-scrollbar-thumb{
    background-color: #0A99FE;
}
.itens{
    width: 206px;
    height: 275px;
    background-color:#F8F8F8;
    display: flex;
    gap: 3vh;
    flex-direction: column;
    text-align: center;
}
.itens img{
    margin: 0 auto;
    width: 206px;
    height: 141px;
}
.superior{
    background-color: #dadada;
    height: 50%;
    padding-bottom: vh;
}
.inferior{
    background-color: #f8f8f8;
    height: 50% ;
}